* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-size: 12px;
  text-align: justify;
  margin-left: 5%;
  margin-right: 5%;
}

span {
  letter-spacing: 2px;
  text-transform: uppercase;
}
.margin-header {
  margin-bottom: 20%;
}

.header-kebe {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #555555;
  opacity: 0.8;
  color:white;
  font-size: 1.6em;
  font-family: sans-serif;
  z-index: 1;
  padding: 0 20px;
}
.header-ul {
  width: 100%;
  color:white;
  padding: 0 10px;
  display: flex;
  justify-content: flex-end;

}
 .hidden-large {
   display: flex;
   justify-content: flex-end;
   text-decoration: none;
   text-transform: uppercase;
   list-style: none;
   padding: 2% 1%;
 }

 .a-hidden-large {
   text-decoration: none;
   color: white;
 }

 .hidden-small{
  display: none;
 }

.a-hidden-large:hover  {
  text-decoration: underline;
  color:#3CDBC0;
}

.hero {
  margin: 130px 0;
}
.kebe {
  width: 100%;
  margin-top: 20%;
  margin-bottom: 150px;

}

.phrase {
  text-transform: uppercase;
  text-align: center;
  font-size: 0.7em;
  font-family: sans-serif;
  font-weight: lighter;
  font-style: italic;
}
.subtitle-phrase {
  background-image: linear-gradient(to right, lightgray, lightgray);
  background-size: 100% 50%;
  padding-bottom: 0.25%;
  background-position: bottom 0.6em left;
  background-repeat: no-repeat;
  margin: 0;
}


.title-section {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: lighter;
  font-size: 1.5em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-image: linear-gradient(to right,lightgray, lightgray);
  background-size: 100% 50%;
  padding-bottom: 0.25%;
  background-position: bottom 0.3em left;
  background-repeat: no-repeat;
  margin: 0;
  margin-top: 25%;

}

.member {
  width: ;
  height: ;
}
.presentation-right {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}

.role {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: lighter;
  font-size: 1.79em;
  text-transform: uppercase;
  width: 100%;
  height: auto;
  margin: 0;
}

.name {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 1.43em;
  text-transform: uppercase;
  margin-top: 5px;
}

.icons {
  background-image: linear-gradient(to right,black, black);
  background-size: 100% 30%;
  background-position: bottom 50% left 0px;
  background-repeat: no-repeat;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.right {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.sw {
  left-padding: 5%;
}


.title-section.right {
text-align: right;
}

.title-section-center{
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: lighter;
  font-size: 2.25em;
  text-transform: uppercase;
  text-align: center;

}
.text-center-final{
  text-align: right;
}
.final-section{
  background-image: linear-gradient(to right,lightgray, white);
  background-size: 100% auto;
  border-top: 5px solid #555555;
  background-position:top 40px left;
  background-repeat: no-repeat, no-repeat, no-repeat;
  padding: 0 15px;
  margin-top: 25%;

}

.footer-kebe {
  background-color: #555555;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 3px 20px;
}

.copy {
  color: white;
  font-size: 80%;
  padding: 5px;
}

.adalab-style {
  color: #3CDBC0;
  font-size: 80%;
  padding: 5px;
}

.resize2 {
  flex-direction: row;
  float: left;
  margin: .2em 1em 1em 0;
  width: 100%;
  height: auto;
}

.images {
  width:20em;
}

.title-section-center{
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: lighter;
  font-size: 2.25em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;

}

@media all and (min-width: 720px) {
  .hidden-large {
    display: none;
  }
  .header-ul {
    display: flex;
    justify-content: space-between;
  }

  .hidden-small {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    list-style: none;
    padding: 2% 1%;
  }

  .a-hidden-small{
    text-decoration: none;
    color: white;
  }

  .hidden-big{
   display: none;
  }

 .a-hidden-small:hover  {
   text-decoration: underline;
   color:#3CDBC0;
 }

}
