* {
  box-sizing: border-box;
}


body {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-size: 14px;
  text-align: justify;
  letter-spacing: 2px;
  margin-left: 5%;
  margin-right: 5%;
}

.title-section {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: lighter;
  font-size: 1.5em;
  letter-spacing: 0.625em;
  text-transform: uppercase;
  background-image: linear-gradient(to right,lightgray, lightgray);
  background-size: 100% 30%;
  padding-bottom: 0.25%;
  background-position: bottom 0.3em left,
                      center right,
                      top 5px left;
  background-repeat: no-repeat, no-repeat, no-repeat;

}

.member {
  width: ;
  height: ;
}

.role {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: lighter;
  font-size: 1.79em;
  letter-spacing: 1em;
  text-transform: uppercase;
}

.name {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 1.43em;
  letter-spacing: 1em;
  text-transform: uppercase;
}

.icons {
  ;
  ;
}

.sw {
  left-padding: 5%;
}


.title-section.right {
  display: flex;
  justify-content: flex-end;


}
.title-section-center{
  text-transform: uppercase;

}
