* {
  box-sizing: border-box;
}


body {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-size: 14px;
  text-align: justify;
  letter-spacing: 2px;
  margin-left: 5%;
  margin-right: 5%;
}

span {
  letter-spacing: 2px;
  text-transform: uppercase;
}
.margin-header {
  margin-bottom: 20%;
}

.header-kebe {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #555555;
  opacity: 0.8;
  color:white;
  font-size: 1em;
  font-family: sans-serif;
  z-index: 1;
}
.header-ul {
  width: 100%;
  color:white;
  padding: 0 10px;
  display: flex;
justify-content:  space-between;

}
 .header-li {
  display: inline;
  text-decoration: none;
  text-transform: uppercase;
  font-style: lighter;
  padding: 2%;
}
.a-header-li {
  text-decoration: none;
  color: white;

}
.header-li:hover  {
  text-decoration: underline;
  color:#3CDBC0;
}

.hero {
  margin: 130px 0;
}
.kebe {
  width: 100%;
  margin-bottom: 150px;
}

.phrase {
  text-transform: uppercase;
  text-align: center;
  font-size: 0.7em;
  font-family: sans-serif;
  font-weight: lighter;
  font-style: italic;
}
.subtitle-phrase {
  background-image: linear-gradient(to right, lightgray, lightgray);
  background-size: 100% 50%;
  padding-bottom: 0.25%;
  background-position: bottom 0.6em left;
  background-repeat: no-repeat;
  margin: 0;
}


.title-section {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: lighter;
  font-size: 1.5em;
  letter-spacing: 0.625em;
  text-transform: uppercase;
  background-image: linear-gradient(to right,lightgray, lightgray);
  background-size: 100% 50%;
  padding-bottom: 0.25%;
  background-position: bottom 0.3em left;
  background-repeat: no-repeat;
  margin: 0;

}

.member {
  width: ;
  height: ;
}
.presentation-right {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}

.role {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: lighter;
  font-size: 1.79em;
  letter-spacing: 1em;
  text-transform: uppercase;
  width: 100%;
  height: auto;
}

.name {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 1.43em;
  letter-spacing: 1em;
  text-transform: uppercase;
}

.icons {
  background-image: linear-gradient(to right,black, black);
  background-size: 100% 30%;

  background-position: bottom 50% left 10px,
                      center right,
                      top 5px left;
  background-repeat: no-repeat, no-repeat, no-repeat;
  text-decoration: none;

}
.right {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.sw {
  left-padding: 5%;
}


.title-section.right {
text-align: right;
}

.title-section-center{
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: lighter;
  font-size: 2.25em;
  letter-spacing: 0.625em;
  text-transform: uppercase;
  text-align: center;

}
.text-center-final{
  text-align: right;
}
.final-section{
  background-image: linear-gradient(to right,lightgray, lightgray);
  background-size: 100% auto;
  border-top: 5px solid #555555;
  background-position:top 50px left;
  background-repeat: no-repeat, no-repeat, no-repeat;
  padding: 0 5px;

}

.footer-kebe {
  background-color: #555555;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 3px 20px;
}

.copy {
  color: white;
  font-size: 80%;
  padding: 5px;
}

.adalab-style {
  color: #3CDBC0;
  font-size: 80%;
  padding: 5px;
}

.resize2 {
  flex-direction: row;
  float: left;
  margin: .2em 1em 1em 0;
  width: 100%;
  height: auto;
}

.images {
  width: 58%;
}
.title-section-center{
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: lighter;
  font-size: 2.25em;
  letter-spacing: 0.625em;
  text-transform: uppercase;
  text-align: center;

}
